{% extends "base.html" %}

{% block title %}Home - Karaoke App{% endblock %}

{% block content %}
<div class="container-fluid vh-100 pt-5">
    <div class="row h-100">
        <div class="home-container col-md-12 d-flex flex-column justify-content-center align-items-center bg-dark">
            <h2 class="text-white">Create a Session</h2>
            <form action="/" method="post">
                <div class="form-group">
                    <label class ="text-white" for="username">Your Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your name" required>
                </div>
                <button type="submit" class="btn btn-light">Start Session</button>
            </form>
        </div>
        <!-- TODO: Join a Session 
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-dark text-white">
            <h2>Join a Session</h2>
            <form>
                <div class="form-group">
                    <label for="joinSessionName">Your Name</label>
                    <input type="text" class="form-control" id="joinSessionName" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="joinSessionCode">Session Code</label>
                    <input type="text" class="form-control" id="joinSessionCode" placeholder="Enter session code" required>
                </div>
                <button type="submit" class="btn btn-primary">Join Session</button>
            </form>
        </div> 
        -->
    </div>
</div>
{% endblock %}