{% extends "base.html" %}

{% block title %}Home - Karaoke App{% endblock %}

{% block content %}
    <h1>Welcome to Karaoke App!</h1>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <h2>Find Your Favorite Karaoke Tracks</h2>
            <form class="d-flex" action="/search" method="get">
                <input class="form-control me-2" type="search" name="query" placeholder="Enter song or artist" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <!-- Sessions list could be added here -->
{% endblock %}