{% extends "base.html" %}

{% block title %}Home - Karaoke App{% endblock %}

{% block content %}
<div class="container-fluid half-height">
    <div class="row h-100">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-light">
            <h2>Create a Session</h2>
            <form action="/" method="post">
                <div class="form-group">
                    <label for="username">Your Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your name" required>
                </div>
                <button type="submit" class="btn btn-primary">Start Session</button>
            </form>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-dark text-white">
            <h2>Join a Session</h2>
            <form>
                <div class="form-group">
                    <label for="joinSessionName">Your Name</label>
                    <input type="text" class="form-control" id="joinSessionName" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="joinSessionCode">Session Code</label>
                    <input type="text" class="form-control" id="joinSessionCode" placeholder="Enter session code" required>
                </div>
                <button type="submit" class="btn btn-primary">Join Session</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}